@import "_variables";
@import "_mixins";

@mixin defaultFormRow {
  @include flexSpace;
  padding-bottom: 0.5rem;
  position: relative;
  min-height: 2.5rem !important;
}

@mixin inputField {
  @include defaultInputElement;
  height: 2.1rem;
  line-height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 14rem;
}

@mixin defaultFormLabel {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
}
