@use "sass:math";
@import "_variables";
@import "_mixins";

button {
  @include defaultInputElement;
  justify-content: center;
  width: 20rem;
  display: inline-flex;
  cursor: pointer;
  padding: 0.5rem;
}

.sidebarButton {
  @include defaultHover;
  @include defaultInputElement;
  justify-content: left;
  width: 14rem;
  display: inline-flex;
  cursor: pointer;
  padding: 0.5rem;
}

.sidebarSmallButton {
  @include defaultHover;
  @include defaultInputElement;
  justify-content: center;
  width: 6.75rem;
  display: inline-flex;
  cursor: pointer;
  padding: 0.5rem;
}

.editButton {
  @include defaultHover;
  @include defaultInputElement;
  justify-content: center;
  width: 3rem;
  max-height: 2rem;
  display: inline-flex;
  cursor: pointer;
  padding: 0.3rem;
  margin-left: 1rem;
  text-decoration: none;
}

.addButton {
  @include defaultHover;
  @include defaultInputElement;
  justify-content: center;
  height: 2rem;
  width: 12rem;
  display: inline-flex;
  cursor: pointer;
  padding: 0.25rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.nextButton {
  @include bigButton;
  width: math.div(20rem, 2);
  &:hover {
    background-color: $green1;
    border-color: $green2;
  }
}

.redButton {
  @include loseStateColors;
  @include loseStateHover;
  @include defaultInputElement;
  width: 10rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 1rem;
}

.fileUploadInput {
  position: absolute;
  z-index: -1;
  display: none;
}

.uploadButton {
  @include defaultHover;
  @include defaultInputElement;
  justify-content: center;
  width: 4rem;
  max-height: 1.25rem;
  display: inline-flex;
  cursor: pointer;
  padding: 0.25rem;
  margin-left: 1rem;
}
