@import "_variables";
@import "_mixins";

.dropdown {
  @include defaultHover;
  @include inputElement;
  width: 12.75rem;
  padding: 0.5rem;
  cursor: pointer;
  &:focus {
    background-color: $blue4;
    color: $black;
  }
}

.horizontalDropdown {
  @include defaultHover;
  @include inputElement;
  width: 14rem;
  padding: 0.5rem;
  height: 1.25rem;
  cursor: pointer;
  &:focus {
    background-color: $blue4;
    color: $black;
  }
}

.dropdownInput {
  @include defaultDropdownInput;
  border-bottom: 0.15rem solid $blue3 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.dropdownEmpty {
  @include defaultDropdownInput;
  border: none !important;
}

.dropdownBorder {
  border-radius: 0.25rem;
  border: 0.15rem solid $blue3;
}

.selectedItem {
  @include defaultHover;
  @include inputElement;
  width: 12.75rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: $blue4;
  color: $black;
}

.dropdownSpacer {
  min-height: 2.45rem;
}

.dropdownContent {
  max-height: 15rem;
  overflow-y: scroll;
}

.dropdownContentFix {
  max-height: 15rem;
  overflow-y: scroll;
}
